# Taming ```JSON ```

## Part 2: flattening nested data

While JSON, or JavaScript Object Notation, is a widely-used light-weight data storage format, it can be difficult to parse because of its deeply nested logic.

Let's explore different ways to flatten nested ```JSON*```.

```*``` JSON's versatility makes customization limitless - which also means there is **NO "one-solution-fit-all"** and often **no simple solution** to flatten all JSON data in the wild.

In [1]:
## import libraries
import pandas as pd
import requests
import json

#### Read this simple nested ```JSON``` formatted data:

In [2]:
## run this cell to capture json object in memory
json_obj = {
    'publication': 'NYC News Service',
    'location': 'New York',
    'reach': "Local",
    'info': {
        'editor': 'John Mancini',
        'contacts': {
          'email': {
              'tips': 'tips@nycitynewsservice.com',
              'general': 'info@nycitynewsservice.com'
          },
          'tel': '123456789',
      }
    }
}

In [3]:
## type of object
type(json_obj)

dict

In [4]:
## let's try to turn it directly into a df 
pd.DataFrame(json_obj)

,publication,location,reach,info
contacts,NYC News Service,New York,Local,{'email': {'tips': 'tips@nycitynewsservice.com...
editor,NYC News Service,New York,Local,John Mancini

<b><i>pd.json_normalize(list or dictionary)

In [5]:
#### Normalize json_obj, a single dictionary:
df = pd.json_normalize(json_obj)
df

,publication,location,reach,info.editor,info.contacts.email.tips,info.contacts.email.general,info.contacts.tel
0,NYC News Service,New York,Local,John Mancini,tips@nycitynewsservice.com,info@nycitynewsservice.com,123456789

#### Normalize a list of dictionaries:

In [6]:
## a list of nested json

json_list_obj = [
{
    'publication': 'NY City News Service',
    'location': 'New York',
    'reach': "Local",
    'info': {
        'editor': 'John Mancini',
        'contacts': {
          'email': {
              'tips': 'tips@nycitynewsservice.com',
              'general': 'info@nycitynewsservice.com'
          },
          'tel': '123456789',
      }
    }
},
 
{
    'publication': 'The New York Times',
    'location': 'New York',
    'reach': "Global",
    'info': {
        'editor': 'Josehp Kahn',
        'contacts': {
          'email': {
              'tips': 'tips@nytimes.com',
              'general': 'info@nytimes.com'
          },
          'tel': '987654321',
      }
    }
}
    
]

In [7]:
## type
type(json_list_obj)

list

In [ ]:
## call object, INDENT 2

In [ ]:
## type of object list holds

In [8]:
## turn into a dataframe
pd.DataFrame(json_list_obj)

,publication,location,reach,info
0,NY City News Service,New York,Local,"{'editor': 'John Mancini', 'contacts': {'email..."
1,The New York Times,New York,Global,"{'editor': 'Josehp Kahn', 'contacts': {'email'..."

In [9]:
## normalize list of dicts
pd.json_normalize(json_list_obj)

,publication,location,reach,info.editor,info.contacts.email.tips,info.contacts.email.general,info.contacts.tel
0,NY City News Service,New York,Local,John Mancini,tips@nycitynewsservice.com,info@nycitynewsservice.com,123456789
1,The New York Times,New York,Global,Josehp Kahn,tips@nytimes.com,info@nytimes.com,987654321

In [11]:
## control the levels into which you want to enter the nest
pd.json_normalize(json_list_obj, max_level = 2)

,publication,location,reach,info.editor,info.contacts.email,info.contacts.tel
0,NY City News Service,New York,Local,John Mancini,"{'tips': 'tips@nycitynewsservice.com', 'genera...",123456789
1,The New York Times,New York,Global,Josehp Kahn,"{'tips': 'tips@nytimes.com', 'general': 'info@...",987654321

In [ ]:
## max level 3

## Let's deal with nested lists

### Deeply nest mock data

In [12]:
nested_j = '''
{
	"data": [{
			"fundID": 1,
			"firstName": "John",
			"lastName": "Smith",
			"categories": [{
				"type": "hedge",
				"description": "Get Rich Fast"
			}],
			"under_investigation": false
		},
		{
			"fundID": 2,
			"firstName": "George",
			"lastName": "Santos",
			"categories": [{
				"type": "hedge",
				"description": "Ponzi"
			}],
			"under_investigation": true
		},
		{
			"fundID": 3,
			"firstName": "Sarah",
			"lastName": "Kepler",
			"categories": [{
				"type": "venture",
				"description": "Angel funding"
			}],
			"under_investigation": false
		},
		{
			"fundID": 4,
			"firstName": "Liz",
			"lastName": "Smith",
			"categories": [{
				"type": "mutual fund",
				"description": "slow and steady"
			}],
			"under_investigation": false
		}
	]
}
'''

In [13]:
#type of data
type(nested_j)

str

In [14]:
## load json into variable
f_data = json.loads(nested_j)
f_data

{'data': [{'fundID': 1,
   'firstName': 'John',
   'lastName': 'Smith',
   'categories': [{'type': 'hedge', 'description': 'Get Rich Fast'}],
   'under_investigation': False},
  {'fundID': 2,
   'firstName': 'George',
   'lastName': 'Santos',
   'categories': [{'type': 'hedge', 'description': 'Ponzi'}],
   'under_investigation': True},
  {'fundID': 3,
   'firstName': 'Sarah',
   'lastName': 'Kepler',
   'categories': [{'type': 'venture', 'description': 'Angel funding'}],
   'under_investigation': False},
  {'fundID': 4,
   'firstName': 'Liz',
   'lastName': 'Smith',
   'categories': [{'type': 'mutual fund', 'description': 'slow and steady'}],
   'under_investigation': False}]}

In [ ]:
## type of data

In [15]:
## try to convert to df using pd.DataFrame
pd.DataFrame(f_data)

                                                data
0  {'fundID': 1, 'firstName': 'John', 'lastName':...
1  {'fundID': 2, 'firstName': 'George', 'lastName...
2  {'fundID': 3, 'firstName': 'Sarah', 'lastName'...
3  {'fundID': 4, 'firstName': 'Liz', 'lastName': ...

In [16]:
## try using pd.json_normalize
pd.json_normalize(f_data)

                                                data
0  [{'fundID': 1, 'firstName': 'John', 'lastName'...

In [19]:
## add a record path
pd.json_normalize(f_data["data"], record_path = "categories")

          type      description
0        hedge    Get Rich Fast
1        hedge            Ponzi
2      venture    Angel funding
3  mutual fund  slow and steady

In [20]:
pd.json_normalize(f_data["data"], 
                  record_path = "categories",
                 meta = ["fundID", 'firstName', 'lastName', 'under_investigation'])

          type      description fundID firstName lastName under_investigation
0        hedge    Get Rich Fast      1      John    Smith               False
1        hedge            Ponzi      2    George   Santos                True
2      venture    Angel funding      3     Sarah   Kepler               False
3  mutual fund  slow and steady      4       Liz    Smith               False

## ```json_normalize()``` with ```record_path``` parameter

A record path taps a level of the nested data

####  Single path syntax:

###### ```pd.json_normalize(list or dictionary, record_path = "single_path")```

#### Multiple paths syntax:

###### ```pd.json_normalize(list or dictionary, record_path = ["first_path", "second_path"])```

In [ ]:
## provide record path to gun-data

In [ ]:
## load into python readable container

In [ ]:
## basic normalize

## ```json_normalize()``` with ```record_path``` and ```meta``` parameters

- ```record_path``` taps a level of the nested data

- ```meta``` designates the fields to use as meta data

####  Syntax:

 ```pd.json_normalize(list or dictionary, record_path = "single_path", meta = [list of meta data items])```

In [ ]:
## add single meta data

In [ ]:
## add multiple meta data

## Multiple nested data

In [ ]:
data = [

	{
		"kingdom": "Animalia",
		"class": "Mammalia",
		"species": [{
			"scientific_name": "Canis Lupus",
			"common_name": "Gray Wolf",
			"relations": [{
				"domesticated": False,
				"social": True
			}]
		}]
	},
	{
		"kingdom": "Animalia",
		"class": "Mammalia",
		"species": [{
			"scientific_name": "Panthera Leo",
			"common_name": "Lion",
			"relations": [{
				"domesticated": False,
				"social": True
			}]
		}]
	},

	{
		"kingdom": "Animalia",
		"class": "Mammalia",
		"species": [{
			"scientific_name": "Panthera Tigris",
			"common_name": "Tiger",
			"relations": [{
				"domesticated": False,
				"social": False
			}]
		}]
	},

	{
		"kingdom": "Animalia",
		"class": "Mammalia",
		"species": [{
			"scientific_name": "Equus ferus",
			"common_name": "Horse",
			"relations": [{
				"domesticated": True,
				"social": True
			}]
		}]
	}
]

In [ ]:
## get top keys

In [ ]:
## what type of data

In [ ]:
## in the first dict, tap species to see what that key holds

In [ ]:
## find the kesy within species

In [ ]:
## dig deeper to find what relations holds

In [ ]:
## what happens if we straight up normalize

In [ ]:
## provide record_paths

In [ ]:
## pass meta data to it

### Super deeply nested data

In [ ]:
## add another layer
## note that within species, there are now two lists of dicts

data = [

	{
		"kingdom": "Animalia",
		"class": "Mammalia",
		"species": [{
			"scientific_name": "Canis Lupus",
			"common_name": "Gray Wolf",
			"relations": [{
				"domesticated": False,
				"social": True
			}],
			"characteristics": [{
				"color": "Gray",
				"carnivore": True
			}]
		}]
	},
	{
		"kingdom": "Animalia",
		"class": "Mammalia",
		"species": [{
			"scientific_name": "Panthera Leo",
			"common_name": "Lion",
			"relations": [{
				"domesticated": False,
				"social": True
			}],
			"characteristics": [{
				"color": "Yellow",
				"carnivore": True
			}]
		}]
	},

	{
		"kingdom": "Animalia",
		"class": "Mammalia",
		"species": [{
			"scientific_name": "Panthera Tigris",
			"common_name": "Tiger",
			"relations": [{
				"domesticated": False,
				"social": False
			}],
			"characteristics": [{
				"color": "Striped",
				"carnivore": True
			}]
		}]
	},

	{
		"kingdom": "Animalia",
		"class": "Mammalia",
		"species": [{
			"scientific_name": "Equus Ferus",
			"common_name": "Horse",
			"relations": [{
				"domesticated": True,
				"social": True
			}],
			"characteristics": [{
				"color": "Multiple",
				"carnivore": False
			}]
		}]
	}
]

In [ ]:
## run json normalize on species

In [ ]:
## provide species and relations as record_path

In [ ]:
## provide add characteristics to the record_path
## WILL BREAK!

In [ ]:
## ## provide species and characteristics as record_path

## The limitations of ```json_normalize()```

The reality is that ```JSON``` is far to versatile and flexible for ```json_normalize()``` to work in every situation. ```json_normalize()``` is just NOT a universal parser and won't work in one go for every complex situation.

Our approach: create two data frames and merge them on a common column.

In [ ]:
## create a df for characteristics

In [ ]:
## create a df for relations
## note we need few meta data, just enough to find a common colum.

In [ ]:
## merge the two

### Global Covid Data (Nested Json from url)

In [ ]:
## request data
url = "https://epicovcharts.bii.a-star.edu.sg/variants-dashboard/data/variants_countries_count.json"

In [ ]:
## load json

In [ ]:
## call data

In [ ]:
## get our bearings

In [ ]:
## get our bearings

In [ ]:
## get our bearings

In [ ]:
## flatten json into df

## AP Election Data

The Associated Press election feed provides wickedly nested election data.

[Download an excerpt](https://raw.githubusercontent.com/sandeepmj/datasets/main/va-election-AP.json) and flatten all nested elements.

At Bloomberg, we flattened this data using the techiques covered in this course.

In [ ]:
## create more cells as necessary